
.selector-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.DateInput_input {
    font-size: 14px;
    font-weight: 400
}

.center-item{
    'display': 'flex',
    'justify-content': 'center',
    'align-items': 'center',
}

.control-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex-container{
    display: flex;
    align-items: center;
}