
.selector-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.DateInput_input {
    font-size: 14px;
    font-weight: 400
}

.control-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown{
    width: 200px;
}